#!ipxe

#	set menu-timeout=200
#	set menu-default windows2012R2
#	set next-server 192.168.10.1
	set boot-url http://100.2.36.2/iso/suse

:start
	menu UEFI Ubuntu Boot Menu
	item --gap --		-------- Install suse OS --------
	echo 

	item ubuntu16.04		> ubuntu16.04
	item ubuntu14.04		> ubuntu14.04
	item ubuntu12.04		> ubuntu12.04
	
	item back				> back
	
	echo 
	item --gap --		--------------------------------
	item --key c config	------ Advanced Options -------

	item shell			Drop to iPXE shell
	item reboot			Reboot Server
	item --key x exit	Exit iPXE and continue BIOS boot
#	choose --timeout timeout --default default selected
	choose selected
	goto ${selected}


:ubuntu16.04
	kernel /images/ubuntu/16.04/linux initrd=initrd.gz devfs-nomount vga=normal
	initrd /images/ubuntu/16.04/initrd.gz
	boot

:ubuntu14.04
	kernel /images/ubuntu/14.04/linux initrd=initrd.gz devfs-nomount vga=normal
	initrd /images/ubuntu/14.04/initrd.gz
	boot

:ubuntu12.04
	kernel /images/ubuntu/12.04/linux initrd=initrd.gz devfs-nomount vga=normal
	initrd /images/ubuntu/12.04/initrd.gz
	boot

