#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://100.2.36.3/iso/redhat/rh73_64/"
repo --name="Server-HighAvailability" --baseurl=http://100.2.36.3/iso/redhat/rh73_64//addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=http://100.2.36.3/iso/redhat/rh73_64//addons/ResilientStorage
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eno1 --ipv6=auto --activate
#network  --bootproto=dhcp --device=enp4s0f1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$UFgPSqHk4YAALUkm$5pw1nxI9StozllIyDc46RaROoW2EhumXUEYHTMzx/jdsv3Qj6EbI7mjEymk/WiW4IrcXIHML2Rs.SMGIijt4r0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=haha --password=$6$JYLMhYPrOm3x5iMe$eD4tAaG2cbvmjhqxs3aT.uOxrsDA.INSCLd6WNJh6MMPvR95uBFgRTJOd9PVS8Ury4IOxgrlh/WWMi5883G/r/ --iscrypted --gecos="haha"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part pv.232 --fstype="lvmpv" --ondisk=sda --size=454745
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup rhel --pesize=4096 pv.232
logvol /home  --fstype="xfs" --size=102400 --name=home --vgname=rhel
logvol swap  --fstype="swap" --size=8000 --name=swap --vgname=rhel
logvol /var  --fstype="xfs" --size=190734 --name=var --vgname=rhel
logvol /  --fstype="xfs" --size=153600 --name=root --vgname=rhel

%packages
@^graphical-server-environment
@backup-server
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@identity-management-server
@infiniband
@input-methods
@internet-browser
@java-platform
@kde-desktop
@large-systems
@load-balancer
@mail-server
@mainframe-access
@mariadb
@multimedia
@network-file-system-client
@performance
@postgresql
@print-client
@print-server
@remote-system-management
@security-tools
@smart-card
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
