#timeout 300
prompt 0
menu clear
menu background splash.png
menu title ubuntu installation
menu vshift 4
menu rows 12

menu color border * #00000000 #00000000 none
menu color sel 0 #ffffffff #00000000 none
menu color title 0 #ff7ba3d0 #00000000 none
menu color tabmsg 0 #ff3a6496 #00000000 none
menu color unsel 0 #84b8ffff #00000000 none
menu color hotsel 0 #84b8ffff #00000000 none
menu color hotkey 0 #ffffffff #00000000 none
menu color help 0 #ffffffff #00000000 none
menu color scrollbar 0 #ffffffff #ff355594 none
menu color timeout 0 #ffffffff #00000000 none
menu color timeout_msg 0 #ffffffff #00000000 none
menu color cmdmark 0 #84b8ffff #00000000 none
menu color cmdline 0 #ffffffff #00000000 none
#menu tabmsg press tab for full configuration options on menu items.
menu tabmsg

menu separator # insert an empty line

label up
menu label > ..
	kernel vesamenu.c32
	append images/linux.cfg

label > ubuntu16.04
	kernel images/ubuntu/16.04/linux
	append initrd=images/ubuntu/16.04/initrd.gz devfs-nomount ramdisksize=16384 vga=normal

label > ubuntu14.04
	kernel images/ubuntu/14.04/linux
	append initrd=images/ubuntu/14.04/initrd.gz devfs-nomount ramdisksize=16384 vga=normal

label > ubuntu12.04
	kernel images/ubuntu/12.04/linux
	append initrd=images/ubuntu/12.04/initrd.gz devfs-nomount ramdisksize=16384 vga=normal

